<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Cheese Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div th:if="${cheeseCategories} and ${cheeseCategories.size()}" class="form-group">
        <label th:for="catagoryId">Catagory</label>
        <select name="categoryId">
            <option th:each="cheeseCategory : ${cheeseCategories}"
                    th:text="${cheeseCategory.name}"
                    th:value="${cheeseCategory.Id}"></option>
        </select>
    </div>
    <div th:unless="${cheeseCategories} and ${cheeseCategories.size()}">
        <input type="hidden" name="categoryId" value="-1" />
        <p>No Cheese Categories! <a href="/category/add">Add a category</a></p>
    </div>
    <input type="submit" value="Add Cheese" />
</form>

</body>
</html>